*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right bottom, black, rgb(48, 48, 48), rgb(65, 65, 65));
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

header{
    position: sticky;
    top: 0;
    z-index: 9999;
}

header nav {
    display: flex;
    gap: 15px;
    background: linear-gradient(to right bottom, blue, rgb(0, 162, 255), blue);
    padding: 0.9rem;
    color: rgb(255, 255, 255);
    width: 100%;
    min-width: fit-content;
    align-items: center;
    height: 100px;
}


.sidetoggle span {
    background: black;
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.sidetoggle {
    cursor: pointer;
    background: none;
    border: 2px solid transparent;
    transition: 0.3s ease-out;
    border-radius: 5px;
    transform: rotate(0deg);
}

.sidetoggle:hover {
    background-color: blue;
    border: 2px solid white;
}

.sidetoggle.active {
    transform: rotate(-270deg);
    border: 2px solid white;
    background-color: blue;
}

.sidebar {
    min-height: 100vh;
    width: 30vw;
    min-width: fit-content;
    background: linear-gradient(to right bottom, silver, white, grey);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: 0.3s ease-out;
    position: absolute;
    padding-left: 15px;
    padding-top: 50px;
    padding-right: 5px;
    max-height: calc(100vh - 75px);
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar details {
    text-decoration: none;
    color: rgb(49, 49, 49);
    font-weight: bolder;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0.4rem;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    white-space: nowrap;
}

.personal_projects {
    color: rgb(49, 49, 49);
    padding-top: 10px;
    text-decoration: none;
}

.projects_list {
    list-style: none;
}

.sidebar details:hover {
    background-color: rgb(143, 143, 143);
}

.sidebar.active {
    transform: translateX(0%);
}

#sidecontainer {
    position: fixed;
    top: 75px;
    z-index: 9998;
    min-width: fit-content;
}


.number{
    color: rgb(49, 49, 49);
}

article {
    padding: 0.9rem;
    color: rgb(221, 221, 221);
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

#pic_container {
    display: block;
}

article img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 15px white, 0 0 15px white;
    float: left;
}

#description p {
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#description {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadein 1.5s 1;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

footer {
    display: flex;
    margin-top: 3rem;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    flex-wrap: wrap;
}
.contacts_button {
    color: silver;
    background-color: blue;
    font-weight: bolder;
    padding: 10px 1rem;
    border-radius: 34px;
    box-shadow: 0 0 15px blue, 0 0 15px blue;
    transition: 0.3s;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin-bottom: 20px;
    width: 150px;
}



.contacts_button:hover {
    width: 250px;
    box-shadow: 0 0 40px blue, 0 0 40px blue;
}

.contacts_button:active {
    width: 250px;
    box-shadow: 0 0 40px blue, 0 0 40px blue;

}

.button_container_details {
    width: 250px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}



#description li {
    margin: 5px 0;
}

.social_media_container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
}

.sidebar .social_media_buttons {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0.9rem;
    border-radius: 34px;
    border: 2px solid black;
    text-decoration: none;
    transition: 0.3s;
    color: white;
    white-space: nowrap;
}

.social_media_buttons:hover {
    background: white;
    color: black;
}

.youtube_button {
    background: linear-gradient(to right bottom, red, #ff9b9b, red);
}

.tiktok_button {
    background: linear-gradient(to right bottom, black, rgb(59, 59, 59), black);
}

.facebook_button {
    background: linear-gradient(to right bottom, blue, rgb(105, 105, 255), blue);
}

@media screen and (max-width: 950px) {
    article {
        color: rgb(221, 221, 221);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: fit-content;
    }
}
